<%- include('./common/header2') %>
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav2') %><div class="post-header-wrapper back_sec"><div class="back_btn"><span class="middle-header-content"> Affiliates</span></div></div>
                    <div class="container-fluid">
                        <div class="mining-icon">
                            <svg version="1.1" id="Icons" x="0px" y="0px" viewBox="0 0 32 32"><g><path d="M26.4,22l-2.7-1.9l-4.3-3l-2.9-2c0,0,0,0,0,0c0,0,0,0-0.1-0.1c-0.1,0-0.2-0.1-0.2-0.1c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c0,0-0.1,0-0.1,0c-0.1,0-0.2,0.1-0.2,0.1c0,0,0,0-0.1,0c0,0,0,0,0,0l-2.9,2l-4.3,3L5.6,22c-2,0.2-3.6,1.9-3.6,4c0,2.2,1.8,4,4,4s4-1.8,4-4c0-1.4-0.7-2.6-1.8-3.3l1.2-0.9l4.3-3l1.3-0.9v1.6v2.6c-1.7,0.4-3,2-3,3.9c0,2.2,1.8,4,4,4s4-1.8,4-4c0-1.9-1.3-3.4-3-3.9v-2.6v-1.6l1.3,0.9l4.3,3l1.2,0.9C22.7,23.4,22,24.6,22,26c0,2.2,1.8,4,4,4s4-1.8,4-4C30,23.9,28.4,22.2,26.4,22z"/><path d="M11,14l10,0c0.3,0,0.6-0.1,0.8-0.4c0.2-0.2,0.3-0.5,0.2-0.8c-0.3-1.5-1.4-2.7-2.9-3.1c-0.4-0.1-0.7-0.4-0.8-0.8C18.7,8.4,19,7.7,19,7V5c0-1.7-1.3-3-3-3s-3,1.3-3,3v2c0,0.7,0.3,1.4,0.7,1.9c-0.1,0.4-0.4,0.7-0.8,0.8c-1.5,0.4-2.6,1.6-2.8,3.1c-0.1,0.3,0,0.6,0.2,0.8C10.4,13.9,10.7,14,11,14z"/></g></svg>
                        </div>
                        <h4 class="pg_title">Affiliate Rewards</h4>
                        <p>
                            TipMeACoffee offers lucrative affiliate rewards. Users can invite their friends and family members to join TipMeACoffee.<br><br>
                            <b>How much I can earn?</b><br>
                            TIPMaACoffee gives 2% affiliate reward for each upvote made on every post of your referrals. This is continuous and automated, so you get a long-term affiliate income opportunity by inviting new users to TipMeACoffee platform.<br><br>
                            <b>How to invite?</b><br>
                            You can invite new users by sharing your affiliate link anywhere on internet. Your affiliate link is present in your wallet. While copying or pasting your affiliate link, make sure that it contains your TIPMeACoffee username. e.g (https://tipmeacoffee.com/welcome/your_username)<br><br>
                            <b>How to check my affiliate stats?</b><br>
                            You can check your affiliate stats in your wallet under affiliate section.<br><br>
                            <b>TMAC.Finance Affiliate Rewards System</b><br>
                            Just like TIPMeACoffee, Breeze DAO has affiliate rewards for its DeFi platform <a href="https://tmac.finance">TMAC Finance</a>. <br>
                            You get 10% of all the staking rewards earned by your referrals.<br><br><br>
                            For any help regarding affiliates, get connected with community mods on <a href="https://t.me/tipmeacoffee" target="_blank">telegram</a> and <a href="https://discord.gg/eMfdUbkYHu" target="_blank">discord</a>.<br>
                        </p>
                        <center><button type="button" class="btn_pg farm_page">TIPMeACoffee Help</button></center>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%- include('./common/footer') %>